<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- fontawsom cdn  -->
    <script src="https://use.fontawesome.com/160f38f44e.js"></script>

    <!-- //bootstrab cdn -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- google font  link -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />

    <title>upwork test</title>
    <!-- //<link type="text/css" rel="stylesheet" href="style.css" /> -->
    <style type="text/css" media="screen">
      .container {
        width: 1140px;
        margin-right: auto;
        margin-left: auto;
      }

      body {
        background-color: skyblue;
        text-decoration-color: white;
        font-size: 5em;
      }
      header p {
        font-size: larger;
        text-align: center;
      }
      .obj1 {
        height: max-content;
        background-color: cadetblue;
        height: max-content;
      }
      .obj2 {
        height: max-content;
        background-color: cadetblue;
        height: max-content;
      }
      .obj3 {
        height: max-content;
        background-color: cadetblue;
        height: max-content;
      }
      .option {
        border-radius: 20px;
      }
      .option button {
        text-align: center;
        margin: 25% 25% 25% 25%;
      }
    </style>
  </head>

  <body>
    <header>
      <p>upwork test</p>
    </header>
    <div class="container">
      <div class="row">
        <div class="obj1 col-4">
          <div class="option">
            <button>option</button>
          </div>
        </div>
        <div class="obj2 col-4">
          <h2>obj2</h2>
        </div>
        <div class="obj3 col-4">
          <h2>obj3</h2>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
