<body>
    <header>
        <p>upwork test</p>
    </header>
    <div class="container">
        <div class="row">
            <div class="obj1 col-4">
                <div class="option">
                    <button type="button" class="btn btn-secondary">option</button>
                </div>
                <div class="quantity">
                    <h3>quantity</h3>

                    <button type="button" class="btn btn-secondary">type here</button>
                </div>
                <div class="box1">
                    <p>obj1</p>
                </div>
            </div>
